<div>
    <mona-text-box class="search-box" placeholder="Search widget">
        <ng-template monaTextBoxPrefixTemplate>
            <i class="ri-search-line px-1"></i>
        </ng-template>
    </mona-text-box>
</div>
<ul class="component-menu-list pt-4">
    @for (category of menuData; track category) {
        <li class="category">
            <div class="category-name" (click)="onCategoryToggle(category)">
                @if (category.open) {
                    <i class="ri-arrow-down-s-line"></i>
                } @else {
                    <i class="ri-arrow-right-s-line"></i>
                }
                <span>{{category.name}} | {{routePath()}}</span>
            </div>
            @if (category.open) {
                <ul class="category-list" @menuExpand>
                    @for (widget of category.widgets; track widget) {
                        <li class="widget">
                            <a [routerLink]="widget.path" class="component-link" [class.selected]="widget.path===routePath()">
                                <span>{{widget.name}}</span>
                            </a>
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>